.warndiv{
    position : fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da; 
    color: #721c24;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #f5c6cb;
    box-Shadow: 0px 4px 15px rgba(0,0,0,0.2);
    z-index:1000;
    display: flex;
    align-items: center;
    gap: 15px
}

.warnbutton{
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #721c24;
    font-weight: bold;
    margin-left: 10px
               
}